.App {
  text-align: center;
}

@font-face {
    src: url(./fonts/Caveat-Medium.ttf);
    font-family:medium; 
}

@font-face {
    src: url(./fonts/BrushSignature.ttf);
    font-family: big;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.text{
  font-family: big;
  font-size: 18px;
}

.trip{
  transition: all 0.3s linear;
}

.trip:hover{
   border-bottom: 2px solid black; 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
